.about_img{
  /* margin-top: 20px; */
  width: 500px !important;
}
.about_img img{
  width: 100% ;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;           /* Vertically center content */
  text-align: center;
  background: rgba(255, 255, 255, 0.02); /* Slight translucent background */
  padding: 1rem;
  /* border: 1px solid var(--text-color); */
  border-radius: 12px;
  width: 100px;
  height: 100px;                     /* Fixed height for uniformity */
  box-shadow: inset 0 2px 5px var(--text-color);
  transition: all 0.3s ease-in;
}

.about-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Pressed effect */
  transform: translateY(2px);          
  cursor: pointer;         /* Slight downward push */
}


@media (max-width: 768px) {
  .about_img{
    width: 300px !important;
  }
}


.about-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.about-main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  width: 100%;
}

.about-text-section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-side {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.about-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}



@media (max-width: 768px) {
  .about-main-section {
    flex-direction: column;
    align-items: center;
  }
}


