.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

.about-image {
  flex: 1;
  padding: 20px;
  min-width: 300px;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
}

.about-content {
  flex: 1;
  padding: 20px;
  min-width: 300px;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about-content h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color:  var(--photo-color);
}

.about-content p {
  font-size: 1rem;
  margin-bottom: 30px;
}

.about-content button {
  background-color: var(--photo-color);
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.about-content button:hover {
  background-color: var(--photo-color-h);
}
